div.col .row .col {
    border: 1px solid black;
}

div.signatures {
    margin-top: 30px;
}

div.signatures .col .row {
    border: 1px solid black;
}

div.forSign {
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 300px;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

div.forSign canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.margin-bottom {
    margin-bottom: 50px;
}

div.signDiv {
    margin-bottom: 50px;
}

p.highlightAbs {
    margin-bottom: 0;
}

p.highlightAbs.n-1 {
    color: blue;
}

p.highlightAbs.n-2 {
    color: red;
}

.margin-top {
    margin-top: 20px;
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: rgb(207, 207, 207);
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-top: 3px;
    position: relative;
}
input[type="checkbox"]:checked {
    background: red;
}
input[type="checkbox"]:checked:after {
    /* Heres your symbol replacement */
    content: "X";
    color: #fff;
    /* The following positions my tick in the center, 
     * but you could just overlay the entire box
     * with a full after element with a background if you want to */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}