#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: #5b5e69;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    height: 100%; }
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center; }
        #sidebar.active ul.components li {
        font-size: 14px; }
        #sidebar.active ul.components li a {
            padding: 10px 0; }
            #sidebar.active ul.components li a span {
            margin-right: 0;
            display: block;
            font-size: 24px; }
        #sidebar.active .logo {
        padding: 10px 0; }
        #sidebar.active .footer {
        display: none; }
    #sidebar .logo {
        display: block;
        color: #fff;
        font-weight: 900;
        padding: 10px 30px;
    }
    #sidebar ul.components {
        padding: 0; }
    #sidebar ul li {
        font-size: 16px; }
        #sidebar ul li > ul {
        margin-left: 10px; }
        #sidebar ul li > ul li {
            font-size: 14px; }
        #sidebar ul li a {
        padding: 10px 30px;
        display: block;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        #sidebar ul li a span {
            margin-right: 15px; }
            @media (max-width: 991.98px) {
            #sidebar ul li a span {
                display: block; } }
        #sidebar ul li a:hover {
            color: #fff; }
        #sidebar ul li.active > a {
        background: transparent;
        color: #fff; }
    @media (max-width: 991.98px) {
        #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important; }
        #sidebar.active {
            margin-left: 0 !important; } }
#sidebar a {
    text-decoration: none; }