<div id="loading" width="100%" style="display: none; text-align: center;">
    <video id="loading" oncontextmenu="return false;" height="100%" loop autoplay muted>
        <source src="/static/loading.webm" type="video/webm" height="100%">
    </video>
</div>
<footer>
    <hr>
    <p style="text-align: center;">&copy; 2021 Attendance <span style="color: goldenrod;">2.0</span> | Made by Mr. Raymond Tsai 蔡瑋倫老師 and
        <a target="_blank" href="https://github.com/aaronleetw">Aaron Lee 李翊愷</a>
        <br>for <a target="_blank" href="https://www.fhjh.tp.edu.tw">Taipei Fuhsing Private School</a>
    </p>
</footer>