<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attendance | Homeroom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/allpages.css">
    <link rel="stylesheet" href="/static/homeroom.css">
</head>

<body>
    <div class="container">
        <h1>Attendance | Homeroom</h1>
        <h2>{{homeroomCode[0]}}: {{homeroomCode[1]}}</h2>
        <h2>{{currDate}}, 依照 星期{{absData[currDate]['dow']}} 課表</h2>
        <a href="/logout"><button class="btn btn-primary">Logout 登出</button></a>
        <form action="/manage/date" id="dateSelForm" method="post">
            <select name="date" id="date" class="form-select" onchange="chgDate();">
                {% for date in absData %}
                {% if date == currDate %}
                <option value="{{date}}" selected="selected">{{date}}</option>
                {% else %}
                <option value="{{date}}">{{date}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </form>
        <form action="/manage/homeroom_confirm" id="homeroom_confirm" method="post">
            <input type="hidden" name="date" value="{{currDate}}">
            <input type="hidden" name="homeroom" value="{{homeroomCode[0]}}^{{homeroomCode[1]}}">
            <input type="hidden" id="hrCfrm-sign" name="signatureData" value="">
        </form>
        <div class="col">
            <div class="sticky-top" style="background-color:white;">
                <div class="row title">
                    <div class="col">HR</div>
                    <div class="col">Number</div>
                    <div class="col">Name</div>
                    <div class="col">Eng Name</div>
                    {% for i in periods %}
                    <div class="col" {% if currPeriod==i %} style="background-color: #ffdf81;" {% endif %}>{{i}}</div>
                    {% endfor %}
                </div>
                <div class="row title">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    {% for i in periods %}
                    <div class="col" {% if currPeriod==i %} style="background-color: #ffdf81;" {% endif %}>
                        {{absData[currDate][i]['name']}}</div>
                    {% endfor %}
                </div>
                <div class="row title">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    {% for i in periods %}
                    <div class="col" {% if currPeriod==i %} style="background-color: #ffdf81;" {% endif %}>
                        {{absData[currDate][i]['teacher']}}</div>
                    {% endfor %}
                </div>
            </div>
            {% for i in homeroomData %}
            <div class="row">
                <div class="col">{{homeroomCode[0]}}{{homeroomCode[1]}}</div>
                <div class="col">{{i}}</div>
                <div class="col">{{ homeroomData[i]['name'] }}</div>
                <div class="col">{{ homeroomData[i]['eng_name'] }}</div>
                {% for j in periods %}
                <div class="col" {% if currPeriod==j %} style="background-color: #ffdf81;" {% endif %}>
                    {% if 'signature' in absData[currDate][j] %}
                    {% if i in absData[currDate][j] %}
                    {% if absData[currDate][j][i] == 1 %}
                    <p class="highlightAbs n-2">X</p>
                    {% else %}
                    <p class="highlightAbs n-3">φ</p>
                    {% endif %}
                    {% else %}
                    {% if absData[currDate][j]['name'] != 'GP' %}
                    <p class="highlightAbs n-1">V</p>
                    {% else %}
                    {% if (homeroomData[i]['GP_Class'][absData[currDate][j]['teacher']] in
                    absData[currDate][j]['signature'])%}
                    <p class="highlightAbs n-1">V</p>
                    {% else %}
                    <p class="highlightAbs n-2"></p>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% elif absData[currDate][j]['name'] == 'GP' %}
                    <p class="highlightAbs"></p>
                    {% else %}
                    {% if 'confirm' in absData[currDate] %}
                    <p class="highlightAbs"></p>
                    {% else %}
                    <input type="checkbox" class="tobeform 2^{{j}}^{{i}} late" id="late^{{j}}^{{i}}"
                        onchange="unCheckAbs('{{j}}^{{i}}')">
                    <input type="checkbox" class="tobeform 1^{{j}}^{{i}} absent" id="absent^{{j}}^{{i}}"
                        onchange="unCheckLate('{{j}}^{{i}}')">
                    {% endif %}
                    <!-- <input type="checkbox" class="tobeform {{j}}^{{i}}"> -->
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                {% for i in periods %}
                <div class="col" {% if currPeriod==i %} style="background-color: #ffdf81;" {% endif %}>
                    {% if ('signature' in absData[currDate][i] or absData[currDate][i]['name'] == 'GP' or
                    'confirm' in absData[currDate]) %}
                    <button class="btn btn-primary afterSelButton" disabled="disabled"
                        onclick="afterSelAbs('{{i|string}}')"></button>
                    {% else %}
                    <button class="btn btn-primary afterSelButton"
                        onclick="afterSelAbs('{{i|string}}')">Confirm<br>{{absData[currDate][i]['name']}}</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <form action="/manage/homeroom_abs" id="postHomeroomAbs" hidden="hidden" method="post">
                <input type="text" id="HR-date" name="date" value="{{currDate}}">
                <input type="text" id="HR-period" name="period" value="">
                <input type="text" id="HR-signatureData" name="signatureData" value="">
                <input type="text" id="HR-notes" name="notes" value="">
                <input type="text" id="HR-homeroom" name="homeroom" value="{{homeroomCode[0]}}^{{homeroomCode[1]}}">
            </form>
            {% if 'confirm' in absData[currDate] %}
            <button class="btn btn-primary margin-top afterSelButton" onclick="homeroomCfrm()" disabled="disabled">
                Homeroom Teacher Already Confirmed | 班導已確認</button>
            {% else %}
            <button class="btn btn-primary margin-top afterSelButton" onclick="homeroomCfrm()">Homeroom
                Teacher Confirm | 班導確認</button>
            {% endif %}
            <div id="finalCheck" hidden="hidden">
                <!-- show warning -->
                <div class="alert alert-warning" id="allPresentWarning" role="alert" hidden="hidden">
                    <h4 class="alert-heading">請確認是否全班全到！Please check if everyone is present!</h4>
                </div>
                <h3>Please Sign Below 請在底下簽名<br>
                    Period: <span id="showSignPeriod"></span> <br>
                    Subject: <span id="showSignSubjectName"></span>
                </h3>
                <div class="forSign"><canvas id="signature_pad"></canvas></div>
                <h3>Notes 備註欄</h3>
                <input type="textarea" class="form-control" name="notes" id="subjectNotes"
                    placeholder="Enter Notes 請輸入備註" style="width: 80%; margin-left: 10%;" row="3">
                <button class="btn btn-secondary" type="button" onclick="signaturePad.clear()">Clear Signature</button>
                <button class="btn btn-primary" type="button" onclick="submitForm()">Submit</button>
            </div>
            {% for c in range(periods|length + 1) %}
            {% if c % 4 == 0 %}
            <div class="row signatures">
                {% endif %}
                <div class="col half">
                    {% if c == 0 %}
                    <div class="row">Homeroom Teacher 導師</div>
                    {% if 'confirm' in absData[currDate] %}
                    <div class="row"><img src="{{absData[currDate]['confirm']}}" alt=""></div>
                    {% else %}
                    <div class="row"><span style="color:red;">No Signature 導師尚未簽名</span></div>
                    {% endif %}
                    {% else %}
                    {% if absData[currDate][periods[c-1]]['name'] == 'GP' %}
                    {% if 'signature' in absData[currDate][periods[c-1]] %}
                    {% for i in absData[currDate][periods[c-1]]['signature'] %}
                    <div class="row">{{periods[c-1]}}: {{absData[currDate][periods[c-1]]['teacher']}}: {{i}}:
                        {{absData[currDate][periods[c-1]]['names'][i]}}</div>
                    <div class="row"><img src="{{absData[currDate][periods[c-1]]['signature'][i]}}" alt=""><br>備註:
                        {{absData[currDate][periods[c-1]]['notes']}}</div>
                    {% endfor %}
                    {% else %}
                    <div class="row">{{periods[c-1]}}: {{absData[currDate][periods[c-1]]['teacher']}}: No Signature
                    </div>
                    <div class="row"></div>
                    {% endif %}
                    {% else %}
                    <div class="row">{{periods[c-1]}}: {{absData[currDate][periods[c-1]]['name']}}:
                        {{absData[currDate][periods[c-1]]['teacher']}}
                    </div>
                    <div class="row"><img src="{{absData[currDate][periods[c-1]]['signature']}}" alt=""><br>備註:
                        {{absData[currDate][periods[c-1]]['notes']}}</div>
                    {% endif %}
                    {% endif %}
                </div>
                {% if c % 4 == 3 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <div id="loading" style="text-align:center; width:100%; display:none;"><img src="/static/loading.gif" alt=""
            style="height:100%;" />
    </div>
    <footer>
        <hr>
        <p style="text-align: center;">&copy; 2021 Attendance (β) | Made by <a target="_blank"
                href="https://github.com/aaronleetw">Aaron Lee 李翊愷</a> for <a target="_blank"
                href="https://www.fhjh.tp.edu.tw">Taipei Fuhsing Private School</a>
            <br>
            Consultants: Mr. Raymond Tsai 蔡瑋倫老師, Alvin Tsao 曹庭睿
        </p>
    </footer>
    <script>
        var signaturePad, hrCfrm = false;
        var periodData = {}
        {% for i in periods %}
        periodData['{{i}}'] = '{{ absData[currDate][i]['name'] }}'
        {% endfor %}

        function loadingAnimation() {
            $('.container').hide();
            $('#loading').show();
        }
        function chgDate() {
            loadingAnimation();
            document.getElementById('dateSelForm').submit();
        }
        function submitForm() {
            if (!signaturePad.isEmpty()) {
                loadingAnimation()
                signaturePad.off();
                var data = signaturePad.toDataURL('image/png');
                if (hrCfrm) {
                    $('#hrCfrm-sign').val(data);
                    document.getElementById('homeroom_confirm').submit()
                } else {
                    var notes = $('#subjectNotes').val();
                    document.getElementById('HR-signatureData').value = data;
                    document.getElementById('HR-notes').value = notes;
                    document.getElementById('postHomeroomAbs').submit();
                }
            }
            else {
                alert("Please sign first");
            }
        }
        function showSignaturePad() {
            $('#finalCheck').removeAttr('hidden');
            var canvas = document.getElementById("signature_pad");
            signaturePad = new SignaturePad(canvas);
            function resizeCanvas() {
                var ratio = Math.max(window.devicePixelRatio || 1, 1);
                canvas.width = canvas.offsetWidth * ratio;
                canvas.height = canvas.offsetHeight * ratio;
                canvas.getContext("2d").scale(ratio, ratio);
                signaturePad.clear(); // otherwise isEmpty() might return incorrect value
            }
            window.addEventListener("resize", resizeCanvas);
            resizeCanvas();
        }
        function afterSelAbs(period) {
            var tobeformArr = [];
            $('#postHomeroomAbs #HR-period').attr('value', period);
            $('.tobeform').attr('disabled', 'disabled');
            $('.afterSelButton').attr('disabled', 'disabled');
            $('#showSignPeriod').text(period);
            $('#showSignSubjectName').text(periodData[period]);
            var cnt = 0;
            $('.tobeform').each(function (i, obj) {
                if ($(this).attr('class').split(' ')[1].split('^')[1] == period &&
                    $(this).is(":checked")) {
                    cnt++;
                    $('#postHomeroomAbs').append('<input type="checkbox" name="' + $(this).attr('class').split(' ')[1].split('^')[0] + '^'
                        + $(this).attr('class').split(' ')[1].split('^')[2]
                        + '" checked="checked">');
                }
            });
            if (cnt == 0) {
                $('#allPresentWarning').removeAttr('hidden');
            }
            // show signature pad
            showSignaturePad()
        }
        function homeroomCfrm() {
            hrCfrm = true;
            $('.tobeform').attr('disabled', 'disabled');
            $('.afterSelButton').attr('disabled', 'disabled');
            showSignaturePad();
        }
        function unCheckLate(string) {
            document.getElementById('late^' + string).checked = false;
        }
        function unCheckAbs(string) {
            document.getElementById('absent^' + string).checked = false;
        }
    </script>
</body>

</html>