<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attendance 點名系統 (β)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/allpages.css">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H6D61RSBHR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H6D61RSBHR');
    </script>
    <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
</head>

<body>
    <div class="showTime"><span id="showTime"></span></div>
    <div class="container">
        <h1 class="margin-top margin-bottom">Attendance 點名系統 (β) | Reset Password 忘記密碼</h1>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-5">
                <form action="/iforgot" id="forgotPassword_sel" method="post">
                    <div class="form-group row" style="margin-bottom: 10px;">
                        <div class="col-3 center"><label for="username" style="font-size: 19px">Username 帳號: </label>
                        </div>
                        <div class="col-9 center-input"><input type="text" class="form-control" name="username"
                                id="username"></div>
                    </div>
                    <button class="btn btn-warning btn-block g-recaptcha" onclick="loadingAnimation()">Confirm
                        確認</button>
                </form>
                <p>This will send an email to the email address to verify your identity.<br>
                    這會傳送一個郵件到指定的信箱，以驗證您的身份
                </p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                    {% autoescape false %}{{message}}{% endautoescape %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div id="loading" style="text-align:center; width:100%; display:none;"><img src="/static/loading.gif" alt=""
            style="height:100%;" />
    </div>
    {% include 'footer.html' %}
    <script type=" text/javascript" src="/static/jquery.min.js"></script>
    <script>
        function loadingAnimation() {
            $('#forgotPassword_sel').submit();
            $('.container').hide();
            $('#loading').show();
        }
    </script>
    <script src="/static/time.js"></script>
</body>

</html>