<video id="loading" oncontextmenu="return false;" width="100%" height="100%" loop autoplay muted style="display: none;">
    <source src="/static/loading.webm" type="video/webm">
</video>
<footer>
    <hr>
    <p style="text-align: center;">&copy; 2021 Attendance (β) | Made by <a target="_blank"
            href="https://github.com/aaronleetw">Aaron Lee 李翊愷</a> and Mr. Raymond Tsai 蔡瑋倫老師
        <br>for <a target="_blank" href="https://www.fhjh.tp.edu.tw">Taipei Fuhsing Private School</a>
    </p>
</footer>

<script>
    function loadingAnimation() {
        $('#loading').show();
    }
</script>