<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/allpages.css">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H6D61RSBHR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H6D61RSBHR');
    </script>
</head>

<body>
    <!-- csv form center -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-5">
                <h1 class="text-center margin-top">Upload {{title}}</h1>
                <!-- upload csv -->
                <form action="{{url}}" id="uploadCsvForm" method="post" enctype="multipart/form-data">
                    <!-- input class code -->
                    <div class="form-group margin-top row">
                        <div class="col-3 center"><label for="gradeCode">Grade Code</label></div>
                        <div class="col center-input"> <input type="text" class="form-control" id="gradeCode"
                                name="gradeCode" placeholder="Enter Grade Code"></div>
                    </div>
                    <div class="form-group margin-top row">
                        <div class="col-3 center"><label for="classcode">Class Code</label></div>
                        <div class="col-9 center-input"><input type="text" class="form-control" id="classcode"
                                name="classcode" placeholder="Enter Class Code"></div>
                    </div>
                    <div class="form-group margin-top row">
                        <div class="col-3 center"><label for="csv">{{title}}</label></div>
                        <div class="col-9 center-input"><input type="file" class="form-control-file" id="csv"
                                name="csv"></div>
                    </div>
                    <button onclick="loadingAnimation()" type="button" class="btn btn-primary">Upload</button>
                </form>
                <!-- show danger zone -->
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Warning! 警告！</h4>
                    <p>If you are not the adminstrator, please do not click "upload" This might make the system
                        unuseable.</p>
                    <p>非管理員請勿點選! 可能會讓系統無法使用!</p>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div id="loading" style="text-align:center; width:100%; display:none;"><img src="/static/loading.gif" alt=""
            style="height:100%;" />
    </div>
    <footer>
        <hr>
        <p style="text-align: center;">&copy; 2021 Attendance (β) | Made by <a target="_blank"
                href="https://github.com/aaronleetw">Aaron Lee 李翊愷</a> for <a target="_blank"
                href="https://www.fhjh.tp.edu.tw">Taipei Fuhsing Private School</a>
            <br>
            Consultants: Mr. Raymond Tsai 蔡瑋倫老師, Alvin Tsao 曹庭睿
        </p>
    </footer>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script>
        function loadingAnimation() {
            // if csv is empty
            if ($("#csv").val() == "") {
                alert("Please select a file!");
                return;
            }
            $('#uploadCsvForm').submit();
            $('.container').hide();
            $('#loading').show();
        }
    </script>
    <!-- end csv form center -->
</body>

</html>