<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/allpages.css">
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <!-- csv form center -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="text-center">Upload {{title}}</h1>
                <!-- upload csv -->
                <form action="{{url}}" method="post" enctype="multipart/form-data">
                    <!-- input class code -->
                    <div class="form-group">
                        <label for="gradeCode">Grade Code</label>
                        <input type="text" class="form-control" id="gradeCode" name="gradeCode"
                            placeholder="Enter Grade Code">
                    </div>
                    <div class="form-group">
                        <label for="classcode">Class Code</label>
                        <input type="text" class="form-control" id="classcode" name="classcode"
                            placeholder="Enter Class Code">
                    </div>
                    <div class="form-group">
                        <label for="csv">{{title}}</label>
                        <input type="file" class="form-control-file" id="csv" name="csv">
                    </div>
                    <button onclick="loadingAnimation()" type="submit" class="btn btn-primary">Upload</button>
                </form>
                <!-- show danger zone -->
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Warning! 警告！</h4>
                    <p>If you are not the adminstrator, please do not click "upload" This might make the system
                        unuseable.</p>
                    <p>非管理員請勿點選! 可能會讓系統無法使用!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="loading" style="text-align:center; width:100%; display:none;"><img src="/static/loading.gif" alt=""
            style="height:100%;" />
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>
        function loadingAnimation() {
            $('.container').hide();
            $('#loading').show();
        }
    </script>
    <!-- end csv form center -->
</body>

</html>